.rootpage {
        padding-left: 1vw;
        padding-right: 1vw;
        font-family: 'Brush Script MT', cursive;
        font-size: 1.5vw;
        color: bisque;
        
        background-image: url("https://s3.amazonaws.com/libapps/accounts/38470/images/Will.jpg");
        min-height: 100vh;
        max-height: fit-content;
}

.rootpage a:visited{
  color: aliceblue;
}

.overlay {
  position: fixed;
}
