.rootpage {
        padding-left: 1vw;
        padding-right: 1vw;
        font-family: 'Brush Script MT', cursive;
        font-size: 1.5vw;
        color: bisque;
        
        background-image: url("https://s3.amazonaws.com/libapps/accounts/38470/images/Will.jpg");
        min-height: 100vh;
        max-height: fit-content;
}

.rootpage a {
  color: rgb(255, 200, 133);
}
.rootpage a:hover {
  color: rgb(224, 175, 116);
}

.rootpage a:visited{
  color: rgb(255, 147, 133);
}
.rootpage a:visited:hover{
  color: rgb(213, 122, 110);
}

.overlay {
  position: fixed;
}
